@page
@model CrunchTime_Web.Pages.ScheduleCRUD.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ScheduleModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScheduleModel.ScheduleName" class="control-label"></label>
                <input asp-for="ScheduleModel.ScheduleName" class="form-control" />
                <span asp-validation-for="ScheduleModel.ScheduleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleModel.HoursStudied" class="control-label"></label>
                <input asp-for="ScheduleModel.HoursStudied" class="form-control" />
                <span asp-validation-for="ScheduleModel.HoursStudied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleModel.DateOfStudy" class="control-label"></label>
                <input asp-for="ScheduleModel.DateOfStudy" class="form-control" />
                <span asp-validation-for="ScheduleModel.DateOfStudy" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="days">Set Aside a Weekday for this module:</label>
                <select name="weekday" id="days">
                    <option value=""> </option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>
            </div>
            
            <div class="form-group">
                <label asp-for="ScheduleModel.ModuleModelID" class="control-label"></label>
                <select asp-for="ScheduleModel.ModuleModelID" class ="form-control" asp-items="ViewBag.ModuleModelID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
