@page
@model PrivacyModel
@{
    ViewData["Title"] = "About the Crunch.";
}
<h1>@ViewData["Title"]</h1>

<h5>
    Crunch Time has the goal of helping students plan
    out a study schedule, so they can keep their focus
    and avoid stress.

    Use this app to save your module information, and carefully
    plan a study schedule and organize your academic life. We
    make it simpler for you, so you can focus on doing great.

</h5>
