@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Crunch Time!</h1>
    <p>Here we make studying so easy, you run out of excuses</a>.</p>
</div>
